<div class="shapka">
  <section class="shapka">
    <h2>Create your CV Portfolio</h2>
    <p>Fill the forms</p>
  </section>
</div>

<div class="personalinformation">
  <section class="personalinformation">
      <br><br>
  <h3>Personal Information</h3>
  <form>
              First name:<br>
              <input type="text" name="firstname"><br>
              Last name:<br>
              <input type="text" name="lastname"><br>
              Specialty:<br>
              <input type="text" name="specialty"><br>                   
              City:<br>
              <input type="text" name="city"><br>
              Country:<br>
              <input type="text" name="country"><br>
              Born:<br>
              <input type="date" name="born" value="1998-12-13" min="1900-01-01" max="2010-12-31"><br>
              Email:<br>
              <input type="text" name="email"><br>
              Phone number:<br>
              <input type="text" name="phone"><br>
              Call time:<br>
              <input type="time" name="calltime"> - <input type="time" name="calltime"><br>
              Marital Status:<br>
              <input type="text" name="mstatus"><br>
  </form>
  <br><br>
</section>
</div>
<div class="links">
  <section class="links">
  <h3>Links of Web-Profiles</h3>
  <form>
      GMAIL:<br>
      <input type="text" name="gmail"><br>
      Instagram:<br>
      <input type="text" name="insta"><br>
      VK:<br>
      <input type="text" name="vk"><br>
      Github:<br>
      <input type="text" name="git"><br>
  </form>
</section>
</div>
<br><br>
<div class="biography">
    <section class="biography">
      <h3>Write about yourself</h3><br>
      <textarea name="biography" rows="6" cols="70"></textarea><br>
    </section>
      
</div>
<br><br>
<div class="skills">
    <section class="skills">
        <h3>List your skills</h3><br>
        <input type="text" name="firstskill"><br>
        <input type="text" name="secondskill"><br>
        <input type="text" name="thirdskill"><br>
        <button type="button">Add</button>
      </section>
      
</div>
<br><br>
<div class="workexp">
    <section class="workexp">
        <h3>Work Experience</h3>
        <p>Write about your previous jobs</p>
        Position:<br>
        <input type="text" name="position"><br>
        Organisation:<br>
        <input type="text" name="organisation"><br>
        Period of work:<br>
        <input type="date" name="startwork" value="1998-12-13" min="1900-01-01" max="2010-12-31"> - 
        <input type="date" name="startwork" value="1998-12-13" min="1900-01-01" max="2010-12-31">   
        <input type="checkbox" name="present" value="present">Present<br>
        Describe your previous job:<br>
        <textarea name="jobdescription" rows="6" cols="70"></textarea><br>
        List your responsibilities:<br>
        <input type="text" name="firstresp"><br>
        <input type="text" name="secondresp"><br>
        <input type="text" name="thirdresp"><br>
        <button type="button">Add</button><br>
        <br>
        <button type="button">Add workplace</button><br>
        
      </section>
      
</div>
<br><br>
<div class="education">
    <section class="education">
        <h3>Education</h3>
        <form>
            Degree and specialty:<br>
            <input type="text" name="degree"><br>
            Place or organisation of educating:<br>
            <input type="text" name="eduplace"><br>
            Date of course ending:<br>
            <input type="date" name="graddate" value="1998-12-13" min="1900-01-01" max="2010-12-31"><br>
            Description of the course:<br>
            <textarea name="coursedescription" rows="6" cols="70"></textarea><br>
            <button type="button">Add education experience</button><br>
       
      
        </form>
      </section>
</div>
<br><br>
<div class="save">
    <button type="submit">Save</button>
</div>